body {
  padding: 0;
  margin: 0;
  
}
nav {
  background-color: black;
  color: #ffff;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background: gray;
  padding: 10px 20px;
  border-radius: 1em;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: antiquewhite;
}
.limitedOffer
{
    font-size: 20px;
    border-bottom:2px solid rgb(79, 178, 196);
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 3em;
    cursor: pointer;
    color: rgb(176, 209, 218);
}
.slider{
    background-image: url("./img/yyy.webp");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
}

.sliderBg{
    width: 750px;
    height: 750px;
    position: absolute;
    border-radius: 50%;
}
 
.sliderWrapper{
    display: flex;
    width: 500vw;
     transition: all 1.5s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.sliderImg{
    z-index: 1;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #ffff;
    z-index: 1;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    flex: 60px;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #ffff;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right: 7%;
    cursor: pointer;
    text-align: center;
    color: #ffff;
    border: none;
    background-color: #000;
    padding: 10px 20px;
    flex: 60px;
    font-size: 30px;
    font-weight: 800;
    z-index: 1;
}


.buyButton:hover{
    background-color: #fff;
    border: none;
    color: #000;
}
.sliderItem:nth-child(1) .sliderBg{
     background-color: aqua;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(182, 62, 206);
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(89, 0, 255);
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(216, 90, 90);
}
.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(9, 155, 74);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice{
   color: rgb(182, 62, 206);
}
.sliderItem:nth-child(3) .sliderPrice{
   color: rgb(89, 0, 255);
}
.sliderItem:nth-child(4) .sliderPrice{
   color: rgb(216, 90, 90);
}
.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(9, 155, 74);
}

.allFeatures{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.featureIcon{
    width: 3em;
}
.featureTitle{
     font-size: 15px;
     font-weight: 600;
     margin-top: 20px;
}
.featureDesc{
    color: grey;
    width: 50%;
    height: 100%;
}
.products{
    position: relative;
    background-color: whitesmoke;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);

}
.productImg{
width: 50%;
padding-top: 7em;
}
.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 80px;
}
.productTitle{
    font-size: 75px;
    font-weight: 800;
}
.productDesc{
    color: gray;
    font-size: 17px;
}
.colors, .sizes{
   display: flex;
   margin-bottom: 15px;
}
.color{
    background-color: black;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.color:last-child{
background-color: blue;
}
.size{
    padding: 5px 20px;
    font-size: 20px;
    border: 1px solid rgb(56, 51, 51);
    margin-right: 10px;
    cursor: pointer;
     
}
.productButton{
    float: right;
    padding: 10px 20px;
    font-weight: 50px;
    border-color: #000;
    background-color: #000;
    color: white ;
    cursor: pointer;

}
.productButton:hover{
    background-color: #ffff;
    color: #000;
    
}