body {
  padding: 0;
  margin: 0;
}
nav {
  background-color: black;
  color: #ffff;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background: gray;
  padding: 10px 20px;
  border-radius: 1em;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: antiquewhite;
}
.limitedOffer
{
    font-size: 20px;
    border-bottom:2px solid rgb(79, 178, 196);
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 3em;
    cursor: pointer;
    color: rgb(176, 209, 218);
}
.slider{
    background-color: rgb(77, 57, 57);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); */
}
/* .sliderBg{
    width: 750px;
    width: 750px;
    border-radius: 50%;
    position: absolute;
    background-color:yellow;


} */
 
.sliderWrapper{
    display: flex;
    width: 500vw;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #ffff;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    flex: 60px;
    font-size: 60px;
    font-weight: 300px;
    text-align: center;
    color: #ffff;
    border: 1px solid gray;
}