body {
  padding: 0;
  margin: 0;
  
}
nav {
  background-color: black;
  color: #ffff;
  padding: 20px 50px;
}
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search {
  display: flex;
  align-items: center;
  background: gray;
  padding: 10px 20px;
  border-radius: 1em;
}
.searchInput {
  border: none;
  background-color: transparent;
}
.searchInput::placeholder {
  color: antiquewhite;
}
.limitedOffer
{
    font-size: 20px;
    border-bottom:2px solid rgb(79, 178, 196);
    cursor: pointer;
}
.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuItem{
    margin-right: 3em;
    cursor: pointer;
    color: rgb(176, 209, 218);
}
.slider{
    background-color: rgb(77, 57, 57);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%); */
}

.sliderBg{
    width: 750px;
    height: 750px;
    /* background-color: y ellow; */
    position: absolute;
    border-radius: 50%;
}
 
.sliderWrapper{
    display: flex;
    width: 500vw;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}
.sliderImg{
    z-index: 1;
}
.sliderTitle{
    position: absolute;
    top: 10%;
    right: 10%;
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: #ffff;
    z-index: 1;
}
.sliderPrice{
    position: absolute;
    top: 10%;
    left: 10%;
    flex: 60px;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    color: #ffff;
    border: 1px solid gray;
    z-index: 1;
}

.buyButton{
    position: absolute;
    top: 50%;
    right:10% ;
    flex: 60px;
    font-size: 30px;
    font-weight: 800;
    /* tex t-align: center; */
    color: #ffff;
    border: 1px solid gray;
    background-color: #000;
    cursor: pointer;
    z-index: 1;
}
.buyButton:hover{
    background-color: #fff;
    color: #000;
}
.sliderItem:nth-child(1) .sliderBg{
     background-color: aqua;
}
.sliderItem:nth-child(2) .sliderBg{
    background-color: rgb(182, 62, 206);
}
.sliderItem:nth-child(3) .sliderBg{
    background-color: rgb(89, 0, 255);
}
.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(216, 90, 90);
}
.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(78, 228, 58);
}

.sliderItem:nth-child(1) .sliderPrice{
    color: aqua;
}
.sliderItem:nth-child(2) .sliderPrice{
   color: rgb(182, 62, 206);
}
.sliderItem:nth-child(3) .sliderPrice{
   color: rgb(89, 0, 255);
}
.sliderItem:nth-child(4) .sliderPrice{
   color: rgb(216, 90, 90);
}
.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(78, 228, 58);
}
